<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="container wrapper active">
        <div class="form">
            <form action="{% url 'create_tasks' %}" method="POST">
                <h2>Update Task</h2>
                {% csrf_token %}
                <input type="text" name="title" id="title" value="{{ task.title }}">
                <label for="description">Description: </label><textarea name="description" id="description" cols="30" rows="10">{{ task.description }}</textarea>
                <label for="completed">Completed: </label><input type="checkbox" name="completed" id="completed" {% if task.completed %} checked="" {% endif %}>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</body>

</html>